<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.HaoSenMainDataQueryMapper">

    <!-- 医疗机构条件查询SQL -->
    <sql id="conditionHospitalWhere">
        <where>
            <if test="condition.dataCode != null and condition.dataCode != ''">
                a.data_code LIKE CONCAT('%', #{condition.dataCode}, '%')
            </if>
            <if test="condition.name != null and condition.name != ''">
                AND a.name LIKE CONCAT('%', #{condition.name}, '%')
            </if>
            <if test="condition.province != null and condition.province != ''">
                AND a.province LIKE CONCAT('%', #{condition.province}, '%')
            </if>
            <if test="condition.city != null and condition.city != ''">
                AND a.city LIKE CONCAT('%', #{condition.city}, '%')
            </if>
            <if test="condition.area != null and condition.area != ''">
                AND a.area LIKE CONCAT('%', #{condition.area}, '%')
            </if>
            <if test="condition.address != null and condition.address != ''">
                AND a.address LIKE CONCAT('%', #{condition.address}, '%')
            </if>
            <if test="condition.originalName != null and condition.originalName != ''">
                AND a.original_name LIKE CONCAT('%', #{condition.originalName}, '%')
            </if>
            <if test="condition.hsCode != null and condition.hsCode != ''">
                AND a.hs_code LIKE CONCAT('%', #{condition.hsCode}, '%')
            </if>
            <if test="condition.keyid != null and condition.keyid != ''">
                AND a.keyid LIKE CONCAT('%', #{condition.keyid}, '%')
            </if>
            <if test="condition.dataId != null and condition.dataId != ''">
                AND a.data_id LIKE CONCAT('%', #{condition.dataId}, '%')
            </if>
        </where>
    </sql>

    <!-- 通用的医疗机构SELECT部分 -->
    <sql id="hospitalSelectCommon">
        SELECT
            '医院' org_type,
            a.batch_code,
            a.data_code,
            a.original_name,
            a.elian_id,
            a.name,
            a.name_history,
            c.省 province,
            c.省id province_id,
            c.市 city,
            c.市id city_id,
            c.区县 area,
            c.区县id area_id,
            a.usci,
            CASE
                WHEN a.level = '1' THEN '一级'
                WHEN a.level = '2' THEN '二级'
                WHEN a.level = '3' THEN '三级'
                WHEN a.level = '4' THEN '未定级'
                ELSE NULL
                END level,
            CASE
                WHEN a.grade = '1' THEN '甲等'
                WHEN a.grade = '2' THEN '乙等'
                WHEN a.grade = '3' THEN '丙等'
                WHEN a.grade = '4' THEN '未定等'
                ELSE NULL
                END grade,
            CASE
                WHEN a.publicflag = '1' THEN '公立'
                WHEN a.publicflag = '2' THEN '民营'
                ELSE NULL
                END publicflag,
            b.医院类别 hos_class,
            CASE
                WHEN a.hos_big_class = '2' THEN '市级医院'
                WHEN a.hos_big_class = '3' THEN '县区医院'
                WHEN a.hos_big_class = '4' THEN '卫生院/卫生服务中心'
                WHEN a.hos_big_class = '7' THEN '诊所/医务室'
                WHEN a.hos_big_class = '9' THEN '其他'
                ELSE NULL
                END hos_big_class,
            b.类别名称1 class1,
            b.类别名称2 class2,
            b.类别名称3 class3,
            b.类别名称4 class4,
            b.类别名称5 AS classify,
            a.general_branch,
            a.military_hos,
            CASE
                WHEN a.internet_hos = '0' THEN '否'
                WHEN a.internet_hos = '1' THEN '是'
                ELSE NULL
                END internet_hos,
            CASE
                WHEN a.med_union_community = '1' THEN '医共体'
                WHEN a.med_union_community = '2' THEN '医联体'
                WHEN a.med_union_community = '3' THEN NULL
                ELSE NULL
                END med_union_community,
            a.ybcode,
            a.regcode,
            a.validity ,
            a.menzhen,
            a.bed_count,
            a.medical_count,
            a.subjects,
            a.legalperson,
            a.address,
            a.remarks,
            a.data_id,
            CASE
                WHEN a.is_city = '1' THEN '是'
                WHEN a.is_city = '0' THEN '否'
                ELSE NULL
                END is_city,
            CASE
                WHEN a.is_insert='1' THEN '是'
                WHEN a.is_insert='0' THEN '否'
                ELSE null
                END is_insert,
            a.repeat_id,
            a.updatetime,
            a.status,
            a.data_type,
            a.keyid,
            a.ku_address,
            a.general_branch_kid,
            a.general_branch_name,
            a.hs_code,
            a.addtime,
            a.appeal_dataid,
            CASE
                WHEN a.internet_hosclassify='1' THEN 'A类'
                WHEN a.internet_hosclassify='2' THEN 'B类'
                WHEN a.internet_hosclassify='3' THEN 'C类'
                ELSE NULL
                END internet_hosclassify,
            a.field1,
            d.original_province,
            d.original_address,
            d.company_name
        FROM base_org_hos_clean a
                 LEFT JOIN 豪森五级属性对应表0819 b ON a.class5 = b.类别名称5_枚举值
                 LEFT JOIN 豪森_行政区划表0928_对应关系 c ON a.area_id = c.豪森_对应区县id
                 LEFT JOIN origin_data d ON a.data_id = d.data_id
    </sql>

    <!-- 医疗机构分页查询 -->
    <select id="HospitalQueryByCondition" resultType="com.example.demo.entity.HaoSenOrganization">
        <include refid="hospitalSelectCommon"/>
        <include refid="conditionHospitalWhere"/>
        ORDER BY addtime DESC
    </select>

    <!-- 根据条件导出医疗机构数据 -->
    <select id="findAllHospitalCondition" resultType="com.example.demo.entity.HaoSenOrganization">
        <include refid="hospitalSelectCommon"/>
        <include refid="conditionHospitalWhere"/>
        ORDER BY addtime DESC

        <!-- 关键：无查询条件时自动加 limit 100 -->
        <if test="needLimit != null and needLimit == true">
            <choose>
                <when test="
                (condition == null) or
                ((condition.dataCode == null or condition.dataCode == '') and
                (condition.name == null or condition.name == '') and
                (condition.province == null or condition.province == '') and
                (condition.city == null or condition.city == '') and
                (condition.area == null or condition.area == '') and
                (condition.address == null or condition.address == '') and
                (condition.originalName == null or condition.originalName == '') and
                (condition.hsCode == null or condition.hsCode == '') and
                (condition.keyid == null or condition.keyid == '') and
                (condition.dataId == null or condition.dataId == ''))
            ">LIMIT 100</when>
            </choose>
        </if>
    </select>



    <!-- 药店条件查询SQL -->
    <sql id="conditionDrugStoreWhere">
        <where>
            <if test="condition.dataCode != null and condition.dataCode != ''">
                a.data_code LIKE CONCAT('%', #{condition.dataCode}, '%')
            </if>

            <if test="condition.name != null and condition.name != ''">
                AND a.name LIKE CONCAT('%', #{condition.name}, '%')
            </if>
            <if test="condition.province != null and condition.province != ''">
                AND a.province LIKE CONCAT('%', #{condition.province}, '%')
            </if>
            <if test="condition.city != null and condition.city != ''">
                AND a.city LIKE CONCAT('%', #{condition.city}, '%')
            </if>
            <if test="condition.area != null and condition.area != ''">
                AND a.area LIKE CONCAT('%', #{condition.area}, '%')
            </if>
            <if test="condition.address != null and condition.address != ''">
                AND a.address LIKE CONCAT('%', #{condition.address}, '%')
            </if>
            <if test="condition.originalName != null and condition.originalName != ''">
                AND a.original_name LIKE CONCAT('%', #{condition.originalName}, '%')
            </if>
            <if test="condition.hsCode != null and condition.hsCode != ''">
                AND a.hs_code LIKE CONCAT('%', #{condition.hsCode}, '%')
            </if>

            <if test="condition.keyid != null and condition.keyid != ''">
                AND a.keyid LIKE CONCAT('%', #{condition.keyid}, '%')
            </if>

            <if test="condition.dataId != null and condition.dataId != ''">
                AND a.data_id LIKE CONCAT('%', #{condition.dataId}, '%')
            </if>
        </where>
    </sql>

    <!-- 通用的药店SELECT部分 -->
    <sql id="drugStoreSelectCommon" >

        SELECT
            '药店' org_type,
            a.data_code,
            a.name,
            a.history_name AS name_history,
            b.省          AS province,
            b.省id        AS province_id,
            b.市          AS city,
            b.市id        AS city_id,
            b.区县        AS area,
            b.区县id      AS area_id,
            a.usci,
            CASE
                WHEN a.pharmacy_ature = '1' THEN '连锁药店总部'
                WHEN a.pharmacy_ature = '2' THEN '零售单体药店'
                WHEN a.pharmacy_ature = '3' THEN '批发商'
                WHEN a.pharmacy_ature = '5' THEN '零售连锁门店'
                ELSE NULL
                END           AS classify,
            CASE
                WHEN a.operation = '1' THEN '零售'
                WHEN a.operation = '2' THEN '连锁'
                WHEN a.operation = '3' THEN '批发'
                ELSE NULL
                END           AS operation,
            a.scope,
            CASE
                WHEN a.location = '1' THEN '院内店'
                WHEN a.location = '2' THEN '院边店'
                WHEN a.location = '3' THEN '社区店'
                WHEN a.location = '4' THEN '商圈店'
                ELSE NULL
                END           AS location,
            a.main_branch,
            a.ybcode,
            CASE
                WHEN a.two_channels = '0' THEN '否'
                WHEN a.two_channels = '1' THEN '是'
                ELSE NULL
                END           AS two_channels,
            a.is_internet,
            CASE
                WHEN a.dtp = '0' THEN '否'
                WHEN a.dtp = '1' THEN '是'
                ELSE NULL
                END           AS dtp,
            a.license_number,
            a.validity license_validity,
            CASE
                WHEN a.mztc = '0' THEN '否'
                WHEN a.mztc = '1' THEN '是'
                ELSE NULL
                END           AS mztc,
            a.create_date,
            a.regist_capi,
            a.oper_name legalperson,
            a.address,
            a.remarks,
            a.batch_code,
            a.elian_id,
            a.data_id,
            CASE
                WHEN a.is_city = '1' THEN '是'
                WHEN a.is_city = '0' THEN '否'
                ELSE NULL
                END           AS is_city,
            CASE
                WHEN a.is_yb = '0' THEN '否'
                WHEN a.is_yb = '1' THEN '是'
                ELSE NULL
                END           AS is_yb,
            CASE
                WHEN a.is_insert = '1' THEN '是'
                WHEN a.is_insert = '0' THEN '否'
                ELSE NULL
                END           AS is_insert,
            a.repeat_id,
            a.original_name,
            a.updatetime,
            a.status,
            a.data_type,
            a.keyid,
            a.main_branch_kid,
            a.main_branch_name,
            a.hs_code,
            a.addtime,
            a.appeal_dataid,
            a.sign_status,
            a.hos_inside,
            a.hos_outside,
            a.field1,
            c.original_province,
            c.original_address,
            c.company_name
        FROM base_org_drug_store a
                 LEFT JOIN 豪森_行政区划表0928_对应关系 b
                           ON a.area_id = b.豪森_对应区县id
                 LEFT JOIN origin_data c
                           ON a.data_id = c.data_id

    </sql>

    <!-- 药店分页查询 -->
    <select id="DrugStoreQueryByCondition" resultType="com.example.demo.entity.HaoSenOrganization">
        <include refid="drugStoreSelectCommon"/>
        <include refid="conditionDrugStoreWhere"/>
        ORDER BY addtime desc
    </select>

    <!-- 根据条件导出药店数据 -->
    <select id="findAllDrugStoreCondition" resultType="com.example.demo.entity.HaoSenOrganization">
        <include refid="drugStoreSelectCommon"/>
        <include refid="conditionDrugStoreWhere"/>
        ORDER BY addtime DESC

        <!-- 关键：无查询条件时自动加 limit 100 -->
        <if test="needLimit != null and needLimit == true">
            <choose>
                <when test="
                (condition == null) or
                ((condition.dataCode == null or condition.dataCode == '') and
                (condition.name == null or condition.name == '') and
                (condition.province == null or condition.province == '') and
                (condition.city == null or condition.city == '') and
                (condition.area == null or condition.area == '') and
                (condition.address == null or condition.address == '') and
                (condition.originalName == null or condition.originalName == '') and
                (condition.hsCode == null or condition.hsCode == '') and
                (condition.keyid == null or condition.keyid == '') and
                (condition.dataId == null or condition.dataId == ''))
            ">LIMIT 100</when>
            </choose>
        </if>
    </select>




    <!-- 商业条件查询SQL -->
    <sql id="conditionCompanyWhere">
        <where>
            <if test="condition.dataCode != null and condition.dataCode != ''">
                a.data_code LIKE CONCAT('%', #{condition.dataCode}, '%')
            </if>

            <if test="condition.name != null and condition.name != ''">
                AND a.name LIKE CONCAT('%', #{condition.name}, '%')
            </if>
            <if test="condition.province != null and condition.province != ''">
                AND a.province LIKE CONCAT('%', #{condition.province}, '%')
            </if>
            <if test="condition.city != null and condition.city != ''">
                AND a.city LIKE CONCAT('%', #{condition.city}, '%')
            </if>
            <if test="condition.area != null and condition.area != ''">
                AND a.area LIKE CONCAT('%', #{condition.area}, '%')
            </if>
            <if test="condition.address != null and condition.address != ''">
                AND a.address LIKE CONCAT('%', #{condition.address}, '%')
            </if>
            <if test="condition.originalName != null and condition.originalName != ''">
                AND a.original_name LIKE CONCAT('%', #{condition.originalName}, '%')
            </if>
            <if test="condition.hsCode != null and condition.hsCode != ''">
                AND a.hs_code LIKE CONCAT('%', #{condition.hsCode}, '%')
            </if>

            <if test="condition.keyid != null and condition.keyid != ''">
                AND a.keyid LIKE CONCAT('%', #{condition.keyid}, '%')
            </if>

            <if test="condition.dataId != null and condition.dataId != ''">
                AND a.data_id LIKE CONCAT('%', #{condition.dataId}, '%')
            </if>
        </where>
    </sql>
    <!-- 通用的商业SELECT部分 -->
    <sql id="companySelectCommon">
        SELECT
            '商业' org_type,
            a.batch_code,
            a.data_id,
            a.data_code,
            a.original_name,
            a.elian_id,
            a.name,
            a.name_history,
            b.省 AS province,
            b.省id AS province_id,
            b.市 AS city,
            b.市id AS city_id,
            b.区县 AS area,
            b.区县id AS area_id,
            a.address,
            a.credit_code usci,
            a.regist_capi,
            a.econ_kind,
            a.scope,
            a.sign_status,
            a.industry,
            a.oper_name legalperson,
            a.create_date,
            a.belong,
            a.repeat_id,
            a.remarks,
            a.updatetime,
            a.status,
            a.data_type,
            a.keyid,
            a.hs_code,
            a.addtime,
            a.appeal_dataid,
            a.field1,
            CASE a.classify
                WHEN '1' THEN '批发商'
                WHEN '2' THEN '批发零售商'
                ELSE NULL
                END AS classify,

            CASE a.is_insert
                WHEN '1' THEN '是'
                WHEN '0' THEN '否'
                ELSE NULL
                END AS is_insert,
            c.original_province,
            c.original_address,
            c.company_name

        FROM base_org_company a
                 LEFT JOIN 豪森_行政区划表0928_对应关系 b
                           ON a.area_id = b.豪森_对应区县id
                 LEFT JOIN origin_data c
                           ON a.data_id = c.data_id

    </sql>
    <!-- 商业分页查询 -->
    <select id="CompanyQueryByCondition" resultType="com.example.demo.entity.HaoSenOrganization">
        <include refid="companySelectCommon"/>
        <include refid="conditionCompanyWhere"/>
        ORDER BY addtime desc
    </select>

    <!-- 根据条件导出药店数据 -->
    <select id="findAllCompanyCondition" resultType="com.example.demo.entity.HaoSenOrganization">
        <include refid="companySelectCommon"/>
        <include refid="conditionDrugStoreWhere"/>
        ORDER BY addtime DESC

        <!-- 关键：无查询条件时自动加 limit 100 -->
        <if test="needLimit != null and needLimit == true">
            <choose>
                <when test="
                (condition == null) or
                ((condition.dataCode == null or condition.dataCode == '') and
                (condition.name == null or condition.name == '') and
                (condition.province == null or condition.province == '') and
                (condition.city == null or condition.city == '') and
                (condition.area == null or condition.area == '') and
                (condition.address == null or condition.address == '') and
                (condition.originalName == null or condition.originalName == '') and
                (condition.hsCode == null or condition.hsCode == '') and
                (condition.keyid == null or condition.keyid == '') and
                (condition.dataId == null or condition.dataId == ''))
            ">LIMIT 100</when>
            </choose>
        </if>
    </select>



</mapper>
