<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.HaoSenSqlMapper">

    <!--      通过上传文件  插入更新、清洗、申诉的sql语句-->
    <insert id="inputHaoSenData" parameterType="com.example.demo.vo.HaoSenInputAppealDataVO">
        insert into test..haosen_data_demo (批次编号,data_id,数据类型,原始数据编码,原始数据名称,省份,original_address,经销商,申诉备注,申诉解决,机构类型,keyid,医院名称,历史名称,省,省ID,市,市ID,区县,区县ID,地址,等级,等次,所有制,类别,总分院kid,总分院名称,军队医院,登记号,有效期,诊疗科室,法人代表,统一社会信用代码,经营方式,经营范围,总分店kid,总分店名称,成立时间,注册资金,企业类型,登记状态,所属行业,登记机关,备注)
        values (#{batchCode},#{dataId},#{dataType},#{dataCode},#{originalName},#{originalProvince},#{originalAddress},#{companyName},#{appealRemark},#{solveRemark},#{institutionType},#{keyid},#{name},#{nameHistory},#{province},#{provinceid},#{city},#{cityid},#{area},#{areaid},#{address},#{level},#{grade},#{publicflag},#{classify},#{generalBranchKid},#{generalBranchName},#{militaryHos},#{regcode},#{validity},#{subjects},#{legalperson},#{usci},#{operation},#{scope},#{mainBranchKid},#{mainBranchName},#{createDate},#{registCapi},#{econKind},#{signStatus},#{industry},#{belong},#{remark})

    </insert>


    <update id="deleteAllHaoSenData" >
        TRUNCATE TABLE test..haosen_data_demo
    </update>


    <!--    单条更新医院、药店、商业 主数据-->
    <insert id="inputHaoSenUpdateData" parameterType="com.example.demo.vo.HaoSenAppealDataVO">
        insert into test..haosen_data_demo (批次编号,data_id,数据类型,原始数据编码,原始数据名称,省份,original_address,经销商,申诉备注,申诉解决,机构类型,keyid,医院名称,历史名称,省,省ID,市,市ID,区县,区县ID,地址,等级,等次,所有制,类别,总分院kid,总分院名称,军队医院,登记号,有效期,诊疗科室,法人代表,统一社会信用代码,经营方式,经营范围,总分店kid,总分店名称,成立时间,注册资金,企业类型,登记状态,所属行业,登记机关)
        values (#{batchCode},#{dataId},#{dataType},#{dataCode},#{originalName},#{originalProvince},#{originalAddress},#{companyName},#{appealRemark},#{solveRemark},#{institutionType},#{keyid},#{name},#{nameHistory},#{province},#{provinceid},#{city},#{cityid},#{area},#{areaid},#{address},#{level},#{grade},#{publicflag},#{classify},#{generalBranchKid},#{generalBranchName},#{militaryHos},#{regcode},#{validity},#{subjects},#{legalperson},#{usci},#{operation},#{scope},#{mainBranchKid},#{mainBranchName},#{createDate},#{registCapi},#{econKind},#{signStatus},#{industry},#{belong})

    </insert>


    <!--    匹配大库的药店、商业、医院主数据-->
    <select id="findDaKuData" resultType="com.example.demo.vo.HaoSenAppealDataVO">
        <![CDATA[

        SELECT appealRemark,solveRemark,keyid,name,nameHistory,province,provinceid,city,cityid,area,areaid,address,level,grade,publicflag,classify,generalBranchKid,generalBranchName,militaryHos,regcode,validity,subjects,legalperson,usci,operation,scope,mainBranchKid,mainBranchName,createDate,registCapi,econKind,signStatus,industry,belong from
            (
                SELECT null appealRemark,null solveRemark, key_id keyid,name ,history_name nameHistory,province,province_id provinceid,city_name city,city_id cityid,area_name area,area_id areaid,address ,null level,null grade,null publicflag,CASE
                                                                                                                                                                                                                                                      WHEN classify_busi<>'' and classify_busi='批零一体' THEN '批发零售商'
                                                                                                                                                                                                                                                      WHEN classify_busi<>'' and classify_busi='批发商' THEN '批发商'
                                                                                                                                                                                                                                                      WHEN  classify_shop='零售连锁直营店' or classify_shop='零售连锁加盟店' THEN '零售连锁门店'
                                                                                                                                                                                                                                                      WHEN  classify_shop='连锁药店总部'   THEN '连锁药店总部'
                                                                                                                                                                                                                                                      WHEN  classify_shop='零售单体药店'   THEN '零售单体药店'
                                                                                                                                                                                                                                                      ELSE null
                    END classify ,null generalBranchKid,null generalBranchName,null militaryHos,null regcode,null validity,null subjects,oper_name legalperson,credit_code usci,null operation,scope scope,pid mainBranchKid,pname mainBranchName,LEFT(create_date,10) createDate,regist_capi registCapi,econ_kind econKind,qcc_status signStatus,industry industry,belong_org belong from HospitalInfo..company
                WHERE key_id = #{keyid}
                UNION ALL
                SELECT  null appealRemark,null solveRemark,keyid,name  ,namehistory nameHistory,province ,provinceid provinceid,cityname city,cityid cityid,areaname area,areaid areaid,address ,level level,grade grade ,publicflag publicflag,classify classify,null generalBranchKid, null generalBranchName,null militaryHos,regcode regcode,validity validity,
                    subjects subjects,legalperson legalperson,credit_code_gs usci,null operation,null scope,null mainBranchKid,null mainBranchName,null createDate,null registCapi,null econKind,null signStatus,null industry,null belong from HospitalInfo..hospital
                WHERE keyid = #{keyid}
            ) a

        ]]>

    </select>





</mapper>
