<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MainDataQueryMapper">
    <!-- 条件查询SQL -->
    <sql id="conditionWhere">
        <where>
            <if test="condition.dataCode != null and condition.dataCode != ''">
                AND data_code LIKE CONCAT('%', #{condition.dataCode}, '%')
            </if>
            <if test="condition.name != null and condition.name != ''">
                AND name LIKE CONCAT('%', #{condition.name}, '%')
            </if>
        </where>
    </sql>

    <!-- 分页查询 -->
    <select id="HospitalQueryByCondition" resultType="com.example.demo.entity.Hospital">
        SELECT
        a.batch_code,a.data_code,a.original_name,a.elian_id,a.name,a.name_history,province,a.province_id,a.city,a.city_id,a.area,a.area_id,a.usci,
        CASE
        WHEN a.level = '1' THEN '一级'
        WHEN a.level = '2' THEN '二级'
        WHEN a.level = '3' THEN '三级'
        WHEN a.level = '4' THEN '未定级'
        ELSE NULL
        END level,
        CASE
        WHEN a.grade = '1' THEN '甲等'
        WHEN a.grade = '2' THEN '乙等'
        WHEN a.grade = '3' THEN '丙等'
        WHEN a.grade = '4' THEN '未定等'
        ELSE NULL
        END  grade
        ,
        CASE
        WHEN a.publicflag = '1' THEN '公立'
        WHEN a.publicflag = '2' THEN '民营'
        ELSE NULL
        END publicflag
        ,b.医院类别 hos_class,CASE
        WHEN a.hos_big_class = '2' THEN '市级医院'
        WHEN a.hos_big_class = '3' THEN '县区医院'
        WHEN a.hos_big_class = '4' THEN '卫生院/卫生服务中心'
        WHEN a.hos_big_class = '7' THEN '诊所/医务室'
        WHEN a.hos_big_class = '9' THEN '其他'
        ELSE NULL
        END hos_big_class,b.类别名称1 class1,b.类别名称2 class2,b.类别名称3 class3,b.类别名称4 class4,b.类别名称5 class5,a.general_branch,
        CASE
        WHEN a.military_hos = '0' THEN '否'
        WHEN a.military_hos = '1' THEN '是'
        ELSE NULL
        END  military_hos,
        CASE
        WHEN a.internet_hos = '0' THEN '否'
        WHEN a.internet_hos = '1' THEN '是'
        ELSE NULL
        END internet_hos
        ,CASE
        WHEN a.med_union_community = '1' THEN '医共体'
        WHEN a.med_union_community = '2' THEN '医联体'
        WHEN a.med_union_community = '3' THEN NULL
        ELSE NULL
        END med_union_community
        ,a.ybcode,a.regcode,a.validity,a.menzhen,a.bed_count,a.medical_count,a.subjects,a.legalperson,a.address,a.remarks,a.data_id,
        CASE
        WHEN a.is_city = '1' THEN '是'
        WHEN a.is_city = '0' THEN '否'
        ELSE NULL
        END  is_city,a.is_insert,a.repeat_id,a.updatetime,a.status,a.data_type,a.keyid,a.ku_address,a.general_branch_kid,a.general_branch_name,a.hs_code,a.addtime,a.appeal_dataid
        FROM base_org_hos_clean a
        LEFT JOIN
        豪森五级属性对应表0819 b
        on
        a.class5=b.类别名称5_枚举值
        <include refid="conditionWhere"/>
        ORDER BY addtime desc
        LIMIT #{page.pageSize} OFFSET #{page.offset}
    </select>


    <!-- 统计总数 -->
    <select id="countHospitalCondition" resultType="long">
        SELECT COUNT(*)
        FROM base_org_hos_clean
        <include refid="conditionWhere"/>
    </select>







</mapper>
