<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ProjectsMapper">


    <insert id="addProject">
        insert into test..projects (id,name,description,icon,color,route_name,addtime,user_id,user_name)
        values (#{id},#{name},#{description},#{icon},#{color},#{routeName},#{addtime},#{userId},#{userName})
    </insert>

    <select id="findProject" resultType="int">
        select count(*) from test..projects where name = #{name}
    </select>

    <select id="findAllProjects" resultType="com.example.demo.entity.Projects">
select id,name,description,icon,color,route_name,CAST(addtime AS DATE) as addtime,user_id,user_name from test..projects
    </select>


</mapper>
